<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MCS100_CPU_CODESYS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MCS100_CPU_CODESYS.Properties.Settings>
            <setting name="comPort" serializeAs="String">
                <value />
            </setting>
            <setting name="ipAddr" serializeAs="String">
                <value>192.168.1.50</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>502</value>
            </setting>
        </MCS100_CPU_CODESYS.Properties.Settings>
    </userSettings>
</configuration>